<h1>Step 3</h1>
<p>This page should show the last 5 queries submitted by the users and their corresponding first result. List them in a comprehensible way, but don't think too much about a nice design. Some kind of list or table will suffice. An example output is provided, feel free to modify and improve it.</p>
<h3>Hints:</h3>
<ul>
    <li>
        You will need to modify the HomeController and QueryService classes. It's up to you if you use an ajax call or a full page refresh, but maybe this decision is linked to the one you did back in step 1.
    </li>
</ul>

<button>Refresh history</button>
<div id="historic">
    <div class="historicItem">
        <h3 class="historicTitle">Search Text: 'cats' Time: 01/01/2012 15:00</h3>
        <div class="firstResult" style="padding-left:20px">
            <a href="http://www.result.com/example">http://www.result.com/example</a>
        </div>
    </div>
    <div class="historicItem">
        <h3 class="historicTitle">Search Text: 'dogs' Time: 01/01/2012 13:00</h3>
        <div class="firstResult" style="padding-left:20px">
            <a href="http://www.result.com/example">http://www.result.com/example</a>
        </div>
    </div>
</div>

<p></p>
<p></p>
