<h1>Step 1</h1>
<p>When a user enters some text in the textbox below and clicks 'Search', the application should show the first 5 Google result urls as clickable links. Only the urls. An example output is provided, feel free to modify as desired.</p>
<p><strong>We prefer ajax calls</strong>, but in the end it's up to you if you use an ajax call or a full page refresh. In any case, you will need to modify the HomeController and GoogleSearch classes.</p>
<h3>Hints:</h3>
<ul>
    <li>
        Try this URL: <a href="https://ajax.googleapis.com/ajax/services/search/web?v=1.0&q=Turing">https://ajax.googleapis.com/ajax/services/search/web?v=1.0&q=Turing</a>
    </li>
    <li>
        Have a look at the code snippet in the Stack Overflow answer here: <a href="http://stackoverflow.com/questions/2580396/google-searchapi-for-c-sharp">http://stackoverflow.com/questions/2580396/google-searchapi-for-c-sharp</a>
    </li>
    <li>
        Maybe you'll need to use this: <a href="http://msdn.microsoft.com/en-us/library/bb355316.aspx">http://msdn.microsoft.com/en-us/library/bb355316.aspx</a>
    </li>
    <li>
        Check this online tool to generate suitable classes from JSON payload: <a href="http://json2csharp.com/">http://json2csharp.com/</a>
    </li>
</ul>

<input type="text" />
<button>Search!</button>
<div id="results">
    <div><a href="http://www.result.com/example">http://www.result.com/example</a></div>
    <div><a href="http://www.result.com/example">http://www.result.com/example</a></div>
    <div><a href="http://www.result.com/example">http://www.result.com/example</a></div>
    <div><a href="http://www.result.com/example">http://www.result.com/example</a></div>
    <div><a href="http://www.result.com/example">http://www.result.com/example</a></div>
</div>
