<h1>Step 1</h1>
<p>When a user enters some text in the textbox below and clicks 'Search', the application should show the first 5 Google result urls as clickable links. Only the urls. An example output is provided, feel free to modify as desired.</p>
<p><strong>We prefer ajax calls</strong>, but in the end it's up to you if you use an ajax call or a full page refresh. It's also up to you if you implement it client or server-side. In any case, you have to modify the HomeController and GoogleSearch classes. Needless to say, you can add files if necessary.</p>
<h3>Hints:</h3>
<ul>
    <li>
        You'll have to use the Google Custom Search API. Check <a href="https://developers.google.com/custom-search/json-api/v1/overview">https://developers.google.com/custom-search/json-api/v1/overview</a>
    </li>
    <li>
        Depending on how you implement this, maybe you'll need to use this: <a href="http://msdn.microsoft.com/en-us/library/bb355316.aspx">http://msdn.microsoft.com/en-us/library/bb355316.aspx</a>
    </li>
    <li>
        Check this online tool to generate suitable classes from JSON payload: <a href="http://json2csharp.com/">http://json2csharp.com/</a>
    </li>
</ul>

<input type="text" />
<button>Search!</button>
<div id="results">
    <div><a href="http://www.result.com/example">http://www.result.com/example</a></div>
    <div><a href="http://www.result.com/example">http://www.result.com/example</a></div>
    <div><a href="http://www.result.com/example">http://www.result.com/example</a></div>
    <div><a href="http://www.result.com/example">http://www.result.com/example</a></div>
    <div><a href="http://www.result.com/example">http://www.result.com/example</a></div>
</div>
